@font-face {
    font-family: "myCustomFont";
    src: url("fonts/ltinternet-regular-webfont.woff") format("woff"),
    url("fonts/ltinternet-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "myCustomFont", sans-serif;
    background-color: #faf9f6;;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 20px  rgba(0, 0, 0, 0.05);
}

#content {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav button {
    font-weight: bold;
    border: none;
    background: transparent;
    color: #2c3e50;
    font-size: 1.6rem;
    transition: all 0.3s ease;
    font-family: inherit;
}

nav button:hover {
    color: #ff5c00;
    cursor: pointer;
}

.home-container {
    text-align: center;
    
}

.hero-section {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero_section.jpeg");
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f9f6f0;
}

.hero-section h1 {
    font-size: 3.5rem;
    text-align: center;
}

.hero-section button {
    color: #fff;
    padding: 1rem;
    background-color: #ff5c00;
    border-radius: 12px;
    border: none;
    font-weight: 400;
    transition: background-color 0.3s ease;
}
.hero-section button:hover {
    cursor: pointer;
    background-color: #ff6e1a;
}

.copy {
    font-size: 2.5rem;
    color: #2c3e50;
    font-weight: 600;
    margin-top: 2rem;
}

.home-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.home-card img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.home-card img:hover {
    transform: translateY(-10px);
}
